.App {
  text-align: center;
  /* overflow-y: scroll; */
  background-image: url(../src/assets/SratWars_bg_webp.webp);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
